<html>
    <head>
        {% block head %}
            <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
            <script src="/bundles/acmedemo/script/jquery-2.1.1.min.js"></script>
        {% endblock %}
        {% javascripts 'bundles/infiniteform/js/collections.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% block title 'Demo Bundle' %}
    </head>
<body>
{% block body %}
    <div class="block">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
    </body>
</html>
