.container {
  //display: flex;
}

.numbers {
  margin-left: 1rem;
  width: 378px;
  height: 378px;
}

.game {
  /* margin-left: 44.444px; */
  width: 376px;
  height: 376px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-content {
}

/* 
.cdk-drop-list	Corresponds to the cdkDropList container.
.cdk-drag	Corresponds to a cdkDrag instance.
.cdk-drag-preview	This is the element that will be rendered next to the user's cursor as they're dragging an item in a sortable list. By default the element looks exactly like the element that is being dragged.
.cdk-drag-placeholder	This is element that will be shown instead of the real element as it's being dragged inside a cdkDropList. By default this will look exactly like the element that is being sorted.
.cdk-drop-list-dragging	A class that is added to cdkDropList while the user is dragging an item.
.cdk-drop-list-receiving
 */

.cdk-drop-list {
  //background-color: red;
}

.cdk-drag {
}

.cdk-drag-preview {
}

.cdk-drag-placeholder {
}

.cdk-drop-list-dragging {
  background-color: red;
}
.cdk-drop-list-receiving {
  background-color: yellow;
}
